<div style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url({{logo}}); height: inherit; padding: 5px">
    <h3 class="tile-title">{{title}}</h3>
    <h6 class="tile-submission-count"> Location: {{location}} </h6>
    <h6 class="tile-submission-count"> Date: {{date}} </h6>
    <h6 class="tile-submission-count"> Submissions: {{submissions}} </h6>
    <h5 class="tile-description">{{truncate description limit=200}}</h5>
</div>
