<div style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url({{logo}}); height: inherit; padding-left: 5px">
    <h1>{{title}}</h1>
    <h4> {{author}}</h4>
    <h4> {{city}}, {{state}} </h4>
    <h4> {{date}} </h4>
    <h3 id = "description">{{truncate description limit=140}}</h3>
</div>



