<div style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url({{logo}}); height: inherit; padding: 5px">
    <h1>{{title}}</h1>
    <h4> {{author}}</h4>
    <h4> {{location}} </h4>
    <h4> {{date}} </h4>
    <h4> Submissions: {{submissions}} </h4>
    <h3>{{truncate description limit=240}}</h3>
</div>



