<div class="container-fluid" style="margin: 70px">
    <div class = "row">
        <div class = "col-md-3 col-md-offset-1">
            <button type="button" class="form-control" {{action 'back'}}>
               ← View More Meetings
            </button>
        </div>
    </div>
    <div class="row" style="padding: 20px">
        <div class="col-md-12" style="border: solid gray 1px">
            <div class="row" style=>
                <div class="conferenceTopContainer col-md-12">
                    <div class="col-lg-4 col-lg-offset-2" style="height: 100%;">
                        <div class="conferenceInfo">
                            <h1> {{model.meeting.title}}</h1>
                            <h4> {{model.meeting.startDate}} - {{model.meeting.endDate}} </h4>
                            <h4>{{model.meeting.city}}, {{model.meeting.state}} </h4>
                            <div class="logos"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 conferencePhoto">
                        <img src={{model.meeting.logo}}>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="conferenceDescriptionContainer col-lg-12">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p class = "conferenceDescription">{{model.meeting.description}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-lg-8 col-lg-offset-2" style="padding: 30px">
                        <div class="btn-group" role="group" aria-label="..." >
                          {{#link-to "conference.submission" model.meeting.id}}
                              <button type="button" class="btn btn-default" style="margin-bottom: 5px; width: 200px;">  Submit to This Conference</button>
                          {{/link-to}}
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="search" title="search" >

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div><!-- /btn-group -->

                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class= "col-lg-1 col-lg-offset-1">

                    </div>
                    <div class="col-lg-8 fileView">

                      {{#masonry-grid gutter=10 items=model.nodes as |item|}}
                        {{node-component title= item.title contributors=item.contributors description=item.description}}
                      {{/masonry-grid}}
                    </div>
                    <div class="col-lg-1">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{{outlet}}
