
<link rel="stylesheet" href="../../../dist/assets/conference.css">
<div class="container-fluid" style="margin: 70px">
    <div class = "row">
        <div class = "col-md-3 col-md-offset-1">
            <button type="button" class="form-control" {{action 'back'}}>
               ← View More Meetings
            </button>
        </div>
    </div>
    <div class="row" style="padding: 20px">
        <div class="col-md-12">
            <div class="row" style=>
                <div class="conferenceTopContainer col-md-12">
                    <div class="col-md-8 col-md-offset-2" style="height: 100%;">
                        <div class="conferenceInfo">

                            {{#if this.editing}}

                                <div class="page-header">
                                    <h2>Edit Meeting: {{model.meeting.title}}</h2>
                                </div>

                                <form id="editConference">
                                    <div class="form-group row"> 
                                        <div class="col-md-6">   
                                            <label>Title: </label>
                                            {{input value=model.meeting.title class="form-control"}}
                                            <div 
                                            style="color: #ff0000">{{if this.isInvalidTitle "Please enter a valid title"}} 
                                            </div>
                                        </div>
                                        <div class="col-md-6"> 
                                        <label> Conference Website: </label>
                                        {{input value=model.meeting.website class="form-control"}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>Start date: </label>
                                            {{date-picker date=model.meeting.startDate class="form-control" valueFormat='date'}}
                                            <div style="color: #ff0000">{{if this.isInvalidDates "Start date must be before end date"}} 
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>End Date: </label>
                                            {{date-picker date=model.meeting.endDate class="form-control" valueFormat='date'}}
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>Submission start date: </label>
                                            {{date-picker date=model.meeting.submissionDate class="form-control" valueFormat='date'}}
                                            <div style="color: #ff0000">{{if this.isInvalidSubmissionDates "Submission start date must be before end date"}} </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Submission end date: </label>
                                            {{date-picker date=model.meeting.closeDate class="form-control" valueFormat='date'}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>City: </label>
                                            {{input value=model.meeting.city class="form-control"}}
                                            <font style="color: #ff0000">{{if this.isInvalidCity "Please enter a valid city"}} </font>
                                        </div>
                                        <div class="col-md-6"> 
                                            <label>State: </label>
                                            {{input value=model.meeting.state class="form-control"}}
                                            <font style="color: #ff0000">{{if this.isInvalidState "Please enter a valid state"}} </font> 
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label>Country:</label>
                                            <select class=form-control selected="model.meeting.country" onchange={{action (mut model.meeting.country) value="target.value"}}>
                                                {{#each countries as |countryChoice|}}
                                                    <option value={{countryChoice}} selected={{eq model.meeting.country countryChoice}}><{{countryChoice}}</option>
                                                {{/each}}
                                             </select>
                                            <font style="color: #ff0000">{{if this.isInvalidCountry "Please select a country"}} </font> 
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label>Description: </label>
                                            {{textarea value=model.meeting.description class="form-control" id="description"style="height: 100%"}}
                                            <font style="color: #ff0000">{{if this.isInvalidDescription "Please enter a description"}}</font>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label>Change conference logo: </label>
                                            {{input class="form-control" type="file" accept="image/*" id="image"}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label>Current logo: </label>
                                        </div>
                                        <img class="col-md-6" src={{model.meeting.logo}}>
                                    </div>
                                </form>

                                <div class="col-lg-1">
                                    <button class="btn-success"{{action "save"}}>Save</button>
                                    <button class="btn-danger"{{action "cancel"}}>Cancel</button>
                                </div>


                            {{else}}
                                <h1> {{model.meeting.title}}</h1>
                                <h4> {{model.meeting.startDate}} - {{model.meeting.endDate}} </h4>
                                <h4>{{model.meeting.city}}, {{model.meeting.state}}, {{model.meeting.country}} </h4>
                                <div class="logos"></div>
                            {{/if}}
                        </div>
                    </div>
                    {{#if this.editing}}


                    {{else}}
                    <div class="col-md-8 col-offset-2 conferencePhoto">
                        <img src={{model.meeting.logo}}>
                    </div>
                    <div class="col-lg-1">
                        <button {{action "edit"}}>Edit</button>
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="row ">
                <div class="conferenceDescriptionContainer col-lg-12">
                    <div class="col-lg-8 col-lg-offset-2">
                        {{#if this.editing}}
                        {{else}}
                            <p class = "conferenceDescription">{{model.meeting.description}}</p>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{#if this.editing}}
            {{else}}
            <div class="row">
                <div class="col-md-12">
                    <div class="col-lg-8 col-lg-offset-2" style="padding: 30px">
                        <div class="btn-group" role="group" aria-label="..." >
                          {{#link-to "conference.submission" model.meeting.id}}
                              <button type="button" class="btn btn-default" style="margin-bottom: 5px; width: 200px;">  Submit to This Conference</button>
                          {{/link-to}}
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="search" title="search" >

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div><!-- /btn-group -->

                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class= "col-lg-1 col-lg-offset-1">

                    </div>
                    <div class="col-lg-8 fileView">

                      {{#masonry-grid gutter=10 items=model.meeting.linkedNodes as |item|}}
                          <a target="_blank" style="color: black;" href= {{link-to-osf item.id}}>
                          {{node-component title=item.title contributors=item.contributors description=item.description}}
                          </a>
                      {{/masonry-grid}}
                    </div>
                    <div class="col-lg-1">

                    </div>
                </div>
            </div>
            {{/if}}

        </div>
    </div>
</div>
{{outlet}}
