<link rel="stylesheet" href="../../../dist/assets/conference.css">
<div class="container-fluid" style="margin: 70px">
    <div class = "row">
        <div class = "col-md-3 col-md-offset-1">
            <button type="button" class="form-control" {{action 'back'}}>
               ← View More Meetings
            </button>
        </div>
    </div>
    <div class="row" style="padding: 20px">
        <div class="col-md-12" style="border: solid gray 1px">
            <div class="row" style=>
                <div class="conferenceTopContainer col-md-12">
                    <div class="col-lg-4 col-lg-offset-2" style="height: 100%;">
                        <div class="conferenceInfo">
                            {{#if model.meeting.editing}}
                                Title: {{input value=model.meeting.title class="form-control"}}
                                <div class="row" style="color: #ff0000">{{if this.isInvalidTitle "Please enter a valid title"}} </div>
                                Start date: {{date-picker date=model.meeting.startDate class="form-control" valueFormat='date'}} 
                                <div class="row" style="color: #ff0000">{{if this.isInvalidDates "Start date must be before end date"}} </div>
                                End Date: {{date-picker date=model.meeting.endDate class="form-control" valueFormat='date'}}
                                Submission start date: {{date-picker date=model.meeting.submissionDate class="form-control" valueFormat='date'}} 
                                <div class="row" style="color: #ff0000">{{if this.isInvalidSubmissionDates "Submission start date must be before end date"}} </div>
                                Submission end date: {{date-picker date=model.meeting.closeDate class="form-control" valueFormat='date'}} 
                                City: {{input value=model.meeting.city class="form-control"}}
                                <div class="row" style="color: #ff0000">{{if this.isInvalidCity "Please enter a valid city"}} </div> 
                                State: {{input value=model.meeting.state class="form-control"}}
                                <div class="row" style="color: #ff0000">{{if this.isInvalidState "Please enter a valid state"}} </div> 
                                Country:
                                <select class=form-control selected="model.meeting.country" onchange={{action (mut model.meeting.country) value="target.value"}}>
                                    {{#each countries as |countryChoice|}}
                                    <option value={{countryChoice}} selected={{eq model.meeting.country countryChoice}}><{{countryChoice}}</option>
                                    {{/each}}
                                </select>
                                <div class="row" style="color: #ff0000">{{if this.isInvalidCountry "Please select a country"}} </div> 
                            {{else}}
                                <h1> {{model.meeting.title}}</h1>
                                <h4> {{model.meeting.startDate}} - {{model.meeting.endDate}} </h4>
                                <h4>{{model.meeting.city}}, {{model.meeting.state}}, {{model.meeting.country}} </h4>
                                <div class="logos"></div>
                            {{/if}}
                        </div>
                    </div>
                    {{#if model.meeting.editing}}
                    <div class="col-lg-4">
                        Change conference logo: {{input class="form-control" type="file" accept="image/*" id="image"}}
                        Current logo: <img src={{model.meeting.logo}}>
                    </div>
                    <div class="col-lg-1">
                        <button class="btn-success"{{action "save"}}>Save</button>
                        <button class="btn-danger"{{action "cancel"}}>Cancel</button>
                    </div>
                    {{else}}
                    <div class="col-lg-4 conferencePhoto">
                        <img src={{model.meeting.logo}}>
                    </div>
                    <div class="col-lg-1">
                        <button {{action "edit" model.meeting.country}}>Edit</button>
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="row ">
                <div class="conferenceDescriptionContainer col-lg-12">
                    <div class="col-lg-8 col-lg-offset-2">
                        {{#if model.meeting.editing}}
                            {{textarea value=model.meeting.description class="form-control" id="description"style="height: 100%"}}
                        {{else}}
                            <p class = "conferenceDescription">{{model.meeting.description}}</p>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{#if model.meeting.editing}}
            {{else}}
            <div class="row">
                <div class="col-md-12">
                    <div class="col-lg-8 col-lg-offset-2" style="padding: 30px">
                        <div class="btn-group" role="group" aria-label="..." >
                          {{#link-to "conference.submission" model.meeting.id}}
                              <button type="button" class="btn btn-default" style="margin-bottom: 5px; width: 200px;">  Submit to This Conference</button>
                          {{/link-to}}
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="search" title="search" >

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div><!-- /btn-group -->

                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class= "col-lg-1 col-lg-offset-1">

                    </div>
                    <div class="col-lg-8 fileView">

                      {{#masonry-grid gutter=10 items=model.meeting.linkedNodes as |item|}}
                        {{node-component title=item.title contributors=item.contributors description=item.description}}
                      {{/masonry-grid}}
                    </div>
                    <div class="col-lg-1">

                    </div>
                </div>
            </div>
            {{/if}}

        </div>
    </div>
</div>
{{outlet}}
