<style>
    .verticalCenter
    {
        position:absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .row:before
    {
        height: 100%;
    }
    label
    {
        font-size: 48px;
    }
    .form-control
    {
        height: 100%;
    }
</style>

<div class="container-fluid">

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="page-header">
				<h2>Submit to:</h2><h1 style="font-size: 64px"> {{model.meeting.title}}</h1>
			</div>
		</div>
	</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <form id = "fileSubmission" method="post">
            <div class="form-group row">
                <div class="col-md-6" style="height: 100%;">
                    <label>Upload File(s):{{model.id}}</label>
                    {{conference.dropzone-submission filesUpload="saveNodeSubmission"}}
                </div>
            </div>

            <div class="form-group row {{if isValidTitle "has-success" "has-error"}}">
                <div class="col-md-6">
                    <label><font style='color: #ff0000'>*</font> Title:</label>
                  {{input id="title" value=title class="form-control"}}
                    <div style="color:#FF0000">
                        {{if this.titleError "Please enter a valid title" ""}}
                    </div>
                </div>

            </div>
            <div class="form-group row {{if isValidContributors "has-success" "has-error"}}">
                <div class="col-md-6">
                    <label><font style='color: #ff0000'>*</font> Contributors:</label>
                  {{input id="contributors" value=contributors class="form-control"}}
                    <div style="color:#FF0000">
                        {{if this.contributorsError "Please enter valid contributors" ""}}
                    </div>
                </div>
	    </div>

            <div class="form-group row has-success">
                <div class="col-md-6">
                    <label>Tags:</label>
                  {{tags-widget tags=model.tags addATag=(action 'addATag') 
                  removeATag=(action 'removeATag')}}
                </div>
            </div>

            <div class="form-group row {{if isValidDescription "has-success" "has-error"}}">
                <div class="col-md-6">
                    <label><font style='color: #ff0000'>*</font> Description:</label>
                  {{textarea id="description" value=description class="form-control"}}
                    <div style="color:#FF0000">
                        {{if this.descriptionError "Please enter a valid description" ""}}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4">
                    <h2><font style="color: #ff0000">*</font> denotes required field</h2>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <button
                        class="form-control btn btn-success" {{action "saveNodeSubmission" model title
                        contributors description model.tags}}>Submit</button>
                </div>
                <div class="col-md-3">
                    <button
                            class="form-control btn btn-danger" {{action "cancel"}}>Cancel</button>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>

{{outlet}}
