Submission

<div class="container-fluid">

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="page-header">
				<h1>Submit to (Name of Conference)</h1>
			</div>
		</div>
	</div>

	<form method="post">
		<div class="row">
			<div class="col-md-2 col-md-offset-1">
                <label>Upload File(s):{{model.id}}</label>
			</div>	
		</div>
		<div class="row">
			<div class="col-md-9 col-md-offset-1">
                {{drop-zone id="dropzone" url="/v2/nodes/(model.id)/files" autoProcessQueue=false}}
			</div>
		</div>

		<div class="row">
			<div class="form-group">
				<div class="col-md-1 col-md-offset-1">
					<label>Title:</label>
				</div>
				<div class="col-md-8">
					{{input value=title class="form-control"}}
				</div>
			</div>	
		</div>	

		<div class="row">
			<div class="form-group">
				<div class="col-md-1 col-md-offset-1">
					<label>Contributors:</label>
				</div>
				<div class="col-md-8">
					{{input value=contributors class="form-control"}}
				</div>
			</div>	
		</div>	

		<div class="row">
			<div class="form-group">
				<div class="col-md-1 col-md-offset-1">
					<label>Description:</label>
				</div>
				<div class="col-md-8">
					{{textarea value=description class="form-control"}}
				</div>
			</div>	
		</div>	

		<div class="row">
			<div class="form-group">
				<div class="col-md-1 col-md-offset-1">
					<label>Keywords:</label>
				</div>
				<div class="col-md-8">
					{{input value=keywords class="form-control"}}
				</div>
			</div>	
		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-9">
				<button {{action "saveNodeSubmission" title contributors
                    description keywords}} class="btn btn-default">Submit</button>
			</div>
		</div>
	</form>
</div>

{{outlet}}
