<style>
    .verticalCenter
    {
        position:absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .row:before
    {
        height: 100%;
    }
    label
    {
        font-size: 48px;
    }
    input
    {
        min-height: 72px;

    }
    .form-control
    {
        height: 100%;
        font-size: 24px;
    }
</style>

<div class="container-fluid">

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="page-header">
				<h2>Submit to:</h2><h1 style="font-size: 64px"> {{model.meeting.title}}</h1>
			</div>
		</div>
	</div>
<div class="row">
    <div class="col-md-12 col-md-offset-1">
        <form method="post">
            <div class="form-group row">
                <div class="col-md-3" style="height: 100%; text-align: right">
                    <label>Upload File(s):{{model.id}}</label>
                </div>
                <div class="col-md-6">
                    {{conference.dropzone-submission filesUpload="saveNodeSubmission"}}
                </div>
            </div>

            <div class="form-group row {{if isValidTitle "has-success" "has-error"}}">
                <div class="col-md-3" style="text-align: right">
                    <label><font style='color: #ff0000'>*</font> Title:</label>
                </div>
                <span class="glyphicon glyphicon-ok form-control-feedback" ></span>
                <div class="col-md-6">
                  {{input id="title" value=title class="form-control"}}
                    <div style="color:#FF0000">
                        {{if this.titleError "Please enter a valid title" ""}}
                    </div>
                </div>

            </div>
            <div class="form-group row {{if isValidContributors "has-success" "has-error"}}">
                <div class="col-md-3" style="text-align: right">
                    <label><font style='color: #ff0000'>*</font> Contributors:</label>
                </div>
                <div class="col-md-6">
                  {{input id="contributors" value=contributors class="form-control"}}
                    <div style="color:#FF0000">
                        {{if this.contributorsError "Please enter valid contributors" ""}}
                    </div>
                </div>
            </div>

            <div class="form-group row {{if isValidDescription "has-success" "has-error"}}">
                <div class="col-md-3" style="text-align: right">
                    <label><font style='color: #ff0000'>*</font> Description:</label>
                </div>
                <div class="col-md-6 ">
                  {{textarea id="description" value=description class="form-control"}}
                    <div style="color:#FF0000">
                        {{if this.descriptionError "Please enter a valid description" ""}}
                    </div>
                </div>
            </div>


            <div class="form-group row has-success">
                <div class="col-md-3" style="text-align: right">
                    <label>Keywords:</label>
                </div>
                <div class="col-md-6">
                  {{input value=keywords class="form-control"}}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 col-md-offset-4">
                    <h2><font style="color: #ff0000">*</font> denotes required field</h2>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2 col-md-offset-7">
                    <button style="height: 80px; font-size: 48px;"
                        class="form-control" {{action "saveNodeSubmission" title
                        econtributors description keywords filesUpload}}>Submit</button>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>

{{outlet}}
