<style>
img
{
    max-width: 100%;
    height: auto;
}

</style>
<nav id= "create" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" id="browse">

    <form class="navbar-form navbar-left" role="search">
      <button class="btn btn-success navbar-btn" {{action "back"}}>
          ← View More Meetings
      </button>
        {{#if this.editing}}
        {{else}}
            <button class="btn btn-danger navbar-btn" {{action "edit"}}>
                Edit This Meeting
            </button>
        {{/if}}
    </form>
    {{#if this.editing}}
      <form class="navbar-form navbar-right">
        <button class="btn btn-success navbar-btn"{{action "save"}}>Save</button>
        <button class="btn btn-danger navbar-btn"{{action "cancel"}}>Cancel</button>
      </form>
    {{/if}}
  </div>
</nav>

<link rel="stylesheet" href="../../../dist/assets/conference.css">
<div class="container-fluid" style="margin: 100px 0 0 0; padding: 0px">
    <div class="row" style="padding: 0px">
        <div class="col-md-12">
            <div class="row" style=>
                <div class="conferenceTopContainer col-md-12">
                    <div class="col-md-8 col-md-offset-2" style="height: 100%;">
                        <div class="conferenceInfo">

                            {{#if this.editing}}

                                <div class="page-header">
                                    <h2>Edit Meeting: {{model.meeting.title}}</h2>
                                </div>

                                <form id="editConference">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>Title: </label>
                                            {{input value=model.meeting.title class="form-control"}}
                                            <div
                                            style="color: #ff0000">{{if this.isInvalidTitle "Please enter a valid title"}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                        <label> Conference Website: </label>
                                        {{input value=model.meeting.website class="form-control"}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>Start date: </label>
                                            {{date-picker date=model.meeting.startDate class="form-control" valueFormat='date'}}
                                            <div style="color: #ff0000">{{if this.isInvalidDates "Start date must be before end date"}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>End Date: </label>
                                            {{date-picker date=model.meeting.endDate class="form-control" valueFormat='date'}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>Submission start date: </label>
                                            {{date-picker date=model.meeting.submissionDate class="form-control" valueFormat='date'}}
                                            <div style="color: #ff0000">{{if this.isInvalidSubmissionDates "Submission start date must be before end date"}} </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Submission end date: </label>
                                            {{date-picker date=model.meeting.closeDate class="form-control" valueFormat='date'}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>City: </label>
                                            {{input value=model.meeting.city class="form-control"}}
                                            <font style="color: #ff0000">{{if this.isInvalidCity "Please enter a valid city"}} </font>
                                        </div>
                                        <div class="col-md-6">
                                            <label>State: </label>
                                            {{input value=model.meeting.state class="form-control"}}
                                            <font style="color: #ff0000">{{if this.isInvalidState "Please enter a valid state"}} </font>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label>Country:</label>
                                            <select class=form-control selected="model.meeting.country" onchange={{action (mut model.meeting.country) value="target.value"}}>
                                                {{#each countries as |countryChoice|}}
                                                    <option value={{countryChoice}} selected={{eq model.meeting.country countryChoice}}><{{countryChoice}}</option>
                                                {{/each}}
                                             </select>
                                            <font style="color: #ff0000">{{if this.isInvalidCountry "Please select a country"}} </font>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label>Description: </label>
                                            {{textarea value=model.meeting.description class="form-control" id="description"style="height: 100%"}}
                                            <font style="color: #ff0000">{{if this.isInvalidDescription "Please enter a description"}}</font>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label>Change conference logo: </label>
                                            {{input class="form-control" type="file" accept="image/*" id="image"}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label>Current logo: </label>
                                        </div>
                                        <img class="col-md-6" src={{model.meeting.logo}}>
                                    </div>
                                </form>
                            {{else}}
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <h1 style="margin: 15px" style="font-size:40px"> {{model.meeting.title}}</h1>
                                        <h4 style="margin:15px 0 0 0">  {{this.conferenceDates}} {{date-display model.meeting.startDate}} - {{date-display model.meeting.endDate}}</h4>
                                        <h4 style="margin:15px 0 0 0"> {{model.meeting.city}}, {{model.meeting.state}}, {{model.meeting.country}}</h4>
                                        <div class="logos" align="center"></div>
                                        <p class="conferenceDescription" style="font-size: 16px">{{model.meeting.description}}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <img src={{model.meeting.logo}}>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="btn-group" role="group" aria-label="...">
                                            <button type="button" class="btn btn-default" style="margin: 0 0 5px 0; width: 200px;" {{action "submitTo"}}>  Submit to This Conference</button>
                                            <input type="text" class="form-control" style="width: 200px;" placeholder="Search" title="search" >
                                        </div>
                                    </div>
                                </div>
                              {{#if this.editing}}
                              {{else}}
                                  <div class="row">
                                      <div class="col-md-12">
                                          <div class="col-lg-8 fileView">
                                            {{#masonry-grid gutter=10 items=model.meeting.linkedNodes as |item|}}
                                                <a target="_blank" style="color: black;" href= {{link-to-osf item.id}}>
                                                  {{node-component title=item.title contributors=item.contributors description=item.description}}
                                                </a>
                                            {{/masonry-grid}}
                                          </div>
                                          <div class="col-lg-1">
                                          </div>
                                      </div>
                                  </div>
                              {{/if}}

                              {{#if this.navModal}}
                                {{#modal-dialog close="hideform" targetAttachment="center" translucentOverlay=true}}
                                    You are currently in edit mode. Changes to your meeting will not be saved.
                                    <br> Are you sure you want to leave?
                                    <br> <button class="btn btn-success"{{action "leave"}}>Yes</button>
                                    <button class="btn btn-danger" {{action "stay"}}>No</button>
                                {{/modal-dialog}}
                              {{/if}}
                            {{/if}}

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{{outlet}}
