
<style>
img
{
    max-width: 100%;
    height: auto;
}
.tableDescription, .tableTitle
{
    display: -webkit-box;
    border: 0px solid #000000;
    max-height: 88px;
    max-width: 200%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tableTitle
{
    font-weight: normal;
}
a:hover
{
    text-decoration: underline;
}
.heading
{
    font-size:16px;
    color:black;
}
input[type="text"],  textarea {
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0;
    border: none;
}
input[type="file"]
{
    margin-bottom: 15px;
    border-radius: 0;
    border: none;
}
textarea
{
    min-height: 100px;
}
.form-control
{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0;
    border: none;
}

</style>

<div class="container-fluid osfSuperLightBackground">
    <nav id= "create" class="navbar navbar-fixed-top">
        <div class="container-fluid" id="browse">
            <form class="navbar-form navbar-left" role="search">
                <button class="btn btn-success navbar-btn" {{action "backToMeetings"}}>
                    ← View More Meetings
                </button>
              {{#if this.editing}}
              {{else}}
                  <button class="btn btn-danger navbar-btn" {{action "editConference"}}>
                      Edit This Meeting
                  </button>
              {{/if}}
            </form>
          {{#if this.editing}}
              <form class="navbar-form navbar-right">
                  <button class="btn btn-success navbar-btn"{{action "saveEdits" model.id}}>Save</button>
                  <button class="btn btn-danger navbar-btn"{{action "cancelEdits"}}>Cancel</button>
              </form>
          {{/if}}
        </div>
    </nav>
    <div class="row" style="padding: 0px">
        <div class="col-md-12">
            <div class="row" style=>
                <div class="conferenceTopContainer col-md-12">
                    <div class="col-md-8 col-md-offset-2" style="height: 100%; padding-top: 100px">
                        <div class="conferenceInfo">

                            {{#if this.editing}}

                                <div class="page-header">
                                    <h2>Edit Meeting: {{model.title}}</h2>
                                </div>

                                <form id="editConference">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>Title: </label>
                                            {{input value=model.title class="form-control"}}
                                            <div
                                            style="color: #ff0000">{{if this.isInvalidTitle "Please enter a valid title"}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                        <label> Conference Website: </label>
                                        {{input value=model.website class="form-control"}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>Start date: </label>
                                            {{date-picker date=model.startDate class="form-control" valueFormat='date'}}
                                            <div style="color: #ff0000">{{if this.isInvalidDates "Start date must be before end date"}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>End Date: </label>
                                            {{date-picker date=model.endDate class="form-control" valueFormat='date'}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>Submission start date: </label>
                                            {{date-picker date=model.submissionDate class="form-control" valueFormat='date'}}
                                            <div style="color: #ff0000">{{if this.isInvalidSubmissionDates "Submission start date must be before end date"}} </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Submission end date: </label>
                                            {{date-picker date=model.closeDate class="form-control" valueFormat='date'}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>City: </label>
                                            {{input value=model.city class="form-control"}}
                                            <font style="color: #ff0000">{{if this.isInvalidCity "Please enter a valid city"}} </font>
                                        </div>
                                        <div class="col-md-6">
                                            <label>State/Province: </label>
                                            {{input value=model.state class="form-control"}}
                                            <font style="color: #ff0000">{{if this.isInvalidState "Please enter a valid state"}} </font>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label>Country:</label>
                                            <select class=form-control selected="model.country" onchange={{action (mut model.country) value="target.value"}}>
                                                {{#each countries as |countryChoice|}}
                                                    <option value={{countryChoice}} selected={{eq model.country countryChoice}}><{{countryChoice}}</option>
                                                {{/each}}
                                             </select>
                                            <font style="color: #ff0000">{{if this.isInvalidCountry "Please select a country"}} </font>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label>Description: </label>
                                            {{textarea value=model.description class="form-control" id="description"style="height: 100%"}}
                                            <font style="color: #ff0000">{{if this.isInvalidDescription "Please enter a description"}}</font>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label>Change conference logo: </label>
                                            {{input class="form-control" type="file" accept="image/*" id="image"}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label>Current logo: </label>
                                        </div>
                                        <img class="col-md-6" src={{model.logo}}>
                                    </div>
                                </form>
                            {{else}}
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <h1 style="margin: 15px" style="font-size:40px"> {{model.title}}</h1>
                                        <h4 style="margin:15px 0 0 0">  {{this.conferenceDates}} {{date-display model.startDate}} - {{date-display model.endDate}}</h4>
                                        {{#if hasState}}
                                        <h4 style="margin:15px 0 0 0"> {{model.city}}, {{model.state}}, {{model.country}}</h4>
                                        {{else}}
                                        <h4 style="margin:15px 0 0 0"> {{model.city}}, {{model.country}}</h4>
                                        {{/if}}
                                        <div class="logos" align="center"></div>
                                        <p class="conferenceDescription" style="font-size: 16px">{{model.description}}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <img src={{model.logo}}>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="btn-group" role="group" aria-label="...">

                                            <button type="button" class="btn btn-default" style="margin: 0 0 5px 0; width: 200px;" {{action "submitTo"}}>  Submit to This Conference</button>
                                            <input type="text" class="form-control" style="width: 200px;" placeholder="Search" title="search" >
                                        </div>
                                    </div>
                                </div>

                            {{/if}}
                            {{#if this.editing}}
                            {{else}}
                                <br>
                                  <!-- This is the basic code for a list with images -->
<!--                                   <div id="table" class="row">
                                      <div class="col-md-12">
                                        {{!-- models-table data=model columns=columns useFilteringByColumns=false rowTemplate="row" --}}
                                          <table class="table  table-hover table-condensed table-bordered">
                                              <tbody>
                                              {{#each model.meeting.linkedNodes as |item|}}
                                                <a target="_blank" style="color: black;" href= {{link-to-osf item.id}}>
                                                  {{node-component title=item.title contributors=item.contributors description=item.description}}
                                                </a>
                                              {{/each}}
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
 -->

                                  <!-- This is the basic code for a table of submissions without images -->
                                  {{#if (has-submissions model.linkedNodes)}}
                                  <table class="table table-hover">
                                    <thead class="thead">
                                        <tr>
                                            <th class="heading" bgcolor="#E0E0E0" width="30%" data-sortable="true">Title</th>
                                            <th class="heading" bgcolor="#E0E0E0" width="20%">Author</th>
                                            <th class="heading" bgcolor="#E0E0E0" width="50%">Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each model.linkedNodes as |item|}}
                                        <tr bgcolor="FFFFFF">
                                            <th class="tableTitle" scope="row">
                                            <a target="_blank" style="color: #0080ff;" href={{link-to-osf item.id}}>
                                            {{item.title}}
                                            </a></th>
                                            <td style="color: black;">{{#each item.contributors as |contributor|}}
                                                    {{contributor.users.fullName}}
                                                {{/each}}
                                            </td>
                                            <td class="tableDescription" style="color: #000000">{{item.description}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                                {{else}}
                                <!-- This needs styling and probably rephrasing -->
                                <div style="color:black; font-size:16px;">
                                    No submissions have been made for this conference
                                </div>
                                {{/if}}
                              {{/if}}

                              {{#if this.navModal}}
                                {{#modal-dialog close="hideform" targetAttachment="center" translucentOverlay=true}}
                                    You are currently in edit mode. Changes to your meeting will not be saved.
                                    <br> Are you sure you want to leave?
                                    <br> <button class="btn btn-success"{{action "confirmLeave"}}>Yes</button>
                                    <button class="btn btn-danger" {{action "declineLeave"}}>No</button>
                                {{/modal-dialog}}
                              {{/if}}

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{{outlet}}
