
<nav class="navbar navbar-inverse" id="navbarScope" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><div class="osf-navbar-logo"></div>OSF</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="/peerdashboard/">My Dashboard</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Explore <span class="caret hidden-xs"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/search/?q=*&filter=registration">Registry</a></li>
                        <li><a href="/meetings/">Meetings</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Help <span class="caret hidden-xs"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/4znZP/wiki/home">About</a></li>
                        <li><a href="/faq/">FAQ</a></li>
                        <li><a href="/getting-started">Getting Started</a></li>
                    </ul>
                </li>
                <li>
                    <a href="${web_url_for('user_profile')}">
                        <span rel="tooltip" data-placement="bottom" title="Settings" class="fa fa-cog hidden-xs fa-lg"></span>
                        <span class="visible-xs">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="${web_url_for('auth_logout')}">
                        <span rel="tooltip" data-placement="bottom" title="Log out" class="fa fa-sign-out hidden-xs fa-lg"></span>
                        <span class="visible-xs">Log out</span>
                    </a>
                </li>
                <li class="dropdown sign-in" data-bind="with: $root.signIn">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info btn-top-login dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Sign in <span class="caret hidden-xs"></span>
                        </button>
                        <ul class="dropdown-menu" id="menuLogin" role="menu">
                            <form class="form" id="signInForm" data-bind="submit: submit" action="${login_url}" method="POST">
                                <div class="form-group"><input id="email" class="form-control" type="email" data-bind="value: username" name="username" placeholder="Email" aria-label="Username"></div>
                                <div class="form-group"><input name="password" id="password" class="form-control" type="password" placeholder="Password" data-bind="value: password" aria-label="Password"></div>
                                <div class="form-group"><button type="submit" id="btnLogin" class="btn btn-block btn-primary">Login</button></div>
                                <div class="text-center m-b-sm"> <a href="/forgotpassword/">Forgot Password?</a></div>
                            </form>
                        </ul>
                    </div>
                </li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div class="container-fluid big">
    <div class="row">
        <div class="col-md-12">

            <h3 class="text-center text-primary">
            </h3>
            <h2>
                Assign Reviewers
            </h2>


            <div class="input-group"> <span class="input-group-addon">Filter</span>

                <input id="filter" type="text" class="filter-control" placeholder="Type here..." {{action 'filterdata'}}>
            </div>

            <div class="btn-group">
                <a id="list" class="btn btn-default btn-sm" {{action 'showlist'}}><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a id="grid" class="btn btn-default btn-sm"{{action 'showgrid'}} ><span
                    class="glyphicon glyphicon-th"></span>Grid</a><a id="tree" class="btn btn-default btn-sm"{{action 'showtree'}} ><span
                    class="glyphicon glyphicon-leaf"></span>Tree</a>
            </div>


            <table class="table table-hover">
                <thead>

                <tr>

                    <th> Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Affiliation
                    </th>
                    <th>
                        Email
                    </th>
                </tr>
                </thead>
                <tbody class="searchable">



                {{#each model.reviewerall as |d|}}
                <tr onclick={{action 'storereviewerInfo' d.id}}>
                    <td>
                      {{d.id}}
                    </td>
                    <td>
                      {{d.name}}
                    </td>
                    <td>
                      {{d.affiliation}}
                    </td>
                    <td>
                      {{d.email}}
                    </td>

                </tr>
                {{/each}}




                </tbody>
            </table>


           {{#if isshowingBio}}


            <div class="media" id = "sss">
                <a href="#" class="pull-left"><img alt="Bootstrap Media Preview" src={{reviewerInfo.avatar}} class="media-object" /></a>
                <div class="media-body">
                    <h4 class="media-heading">
                        <b style="font-size: small; color: yellow">{{reviewerInfo.name}}</b>
                    </h4>
                    <h4 class="media-heading">
                    </h4>
                    <div class="media">
                        <div class="media-body">

                            <p>
                                <b style="font-size: small">Bio:</b>
                                {{reviewerInfo.bio}}
                            </p>
                            <div>
                                <p>
                                    <b style="font-size: small">Research Areas:</b>
                                    {{reviewerInfo.research}}
                                </p>

                            </div>

                            <div>
                                <p>
                                    <b style="font-size: small">Total OSF Reviews: {{reviewerInfo.osfreviews}}</b>
                                <p></p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

               <button id="button3id" name="button3id" class="btn btn-primary" {{action 'showdata' reviewerInfo.name}} >Invite</button>


           {{/if}}

            <button id="button1id" name="button1id" class="btn btn-success" {{action 'gotodashboard'}}>Back</button>


        </div>
    </div>

    <div id="submitAlert" class="alert alert-success hide fade in" style = "width: 250px">
        Email sent successfully..
    </div>

</div>


{{#if isshowingInvite}}
  {{#modal-dialog close="hidedata"
  targetAttachment="center"
  translucentOverlay=true}}
      <form class="form-horizontal" style="width: 1000px">
          <fieldset>

              <!-- Form Name -->
              <legend>Reviewer Invitation</legend>

              <!-- Textarea -->
              <div class="form-group" >
                  <label class="col-md-4 control-label" for="textarea">Email Message</label>
                  <div class="col-md-4">
                        <textarea class="form-control" id="textarea" name="textarea" rows="18" style="width: 600px">{{emailbody}} </textarea>
                  </div>
              </div>

              <!-- File Button -->
              <div class="form-group">
                  <label class="col-md-4 control-label" for="filebutton">File Attachment </label>
                  <div class="col-md-4">
                      <input id="filebutton" name="filebutton" class="input-file" type="file">
                  </div>
              </div>

              <!-- Button (Double) -->
              <div class="form-group">
                  <label class="col-md-4 control-label" for="button1id"></label>
                  <div class="col-md-8">
                      <button id="button1id" name="button1id" class="btn btn-success" {{action 'sendemail'}}>Send</button>
                      <button id="button2id" name="button2id" class="btn btn-danger" {{action 'hidedata'}}>Cancel</button>

                  </div>


              </div>

          </fieldset>
      </form>
  {{/modal-dialog}}
{{/if}}


{{outlet}}



