{{#if this.visited}}
  {{auto-scroll}}
{{/if}}
<div class="holder">
    <div id="indexTop" class="container-fluid big osfBackground">
        <a href="https://osf.io"><img class="logo" src="https://osf.io/static/img/cos-white2.png"> </a>
        <div class="row titleRow">
            <h1>OSF for Meetings</h1>
            <h3>A free sharing service for academic meetings and conferences</h3>
            <h4>Broaden your impact, create an open scholar environment</h4>
            <button {{action 'scrollit'}} type="button" value="continue" class="btn btn-success">Begin Sharing</button>
        </div>
        <img class="background" src="https://osf.io/static/img/front-page/bg-web.png">
    </div>
    <div class="container-fluid osfSuperLightBackground">
        <nav id="create" class="navbar navbar-default">
            <div class="container-fluid" id="browse">
                <form class="navbar-form navbar-left" role="search">
                    <img class="navbar-brand" src="https://osf.io/static/img/cos-white2.png">
                    <div class="navbar-brand">Meetings</div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" disabled class="btn btn-default">Submit</button>
                    <button class="btn btn-success navbar-btn" {{action "create"}}>
                        <span class="glyphicon glyphicon-plus"></span>
                        Create a Meeting
                    </button>
                    <button id="tileButton" class="btn navbar-btn" {{action "tileView"}}>
                        <span class="glyphicon glyphicon-th-large"></span>
                    </button>
                    <button id="listButton" class="btn navbar-btn" {{action "listView"}}>
                        <span class="glyphicon glyphicon-th-list"></span>
                    </button>
                </form>
            </div>
        </nav>
      {{#if tileview}}
          <div class="row conference-view-outer-container" id="indexBottom">
              <div class="col-md-10 col-md-offset-1 conference-view-inner-container">
                  <div class="col-md-12 tile-view">
                      {{#masonry-grid  isFitWidth=true gutter=20 items= model as |conf|}}
                          {{#link-to "conference.index" conf.id class="title"}}
                              {{meeting-masonry title=conf.title description=conf.description logo=conf.logo author=conf.author location=(location-display conf.city conf.state conf.country) date=(date-display conf.startDate) submissions=(submission-count conf.linkedNodes)}}
                          {{/link-to}}
                      {{/masonry-grid}}
                  </div>
              </div>
          </div>
      {{else}}
          <div class="row conference-view-outer-container">
              <div class="col-md-12 tableScroller">
                  <div class="col-md-10 col-md-offset-1 conference-view-inner-container">
                      <table class="table">
                          <tbody>
                          {{#each model as |conference|}}
                            {{#link-to "conference.index.index" conference.id tagName="tr"}}
                                <td class="hidden-xs">
                                    <img src={{conference.logo}}>
                                </td>
                                <td>
                                    <h1>{{conference.title}}</h1>
                                    <h5>{{conference.website}}</h5>
                                    <h2>{{conference.city}}, {{conference.state}}</h2>
                                  {{conference.description}}
                                </td>
                            {{/link-to}}
                          {{/each}}
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      {{/if}}
      {{outlet}}
    </div>
</div>

{{yield}}



