Login

<div class="container-fluid">
	<div class="row table-row">
		<div class="col-md-5 col-md-offset-1 panel panel-default">
			<div class="panel-body">
			<!-- login -->
				<div class="row">
					<div class="col-md-2">
						<h4>Login</h4>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<div class="col-md-3">
							<div class="text-right">
								<label>Email</label>
							</div>
						</div>
						<div class="col-md-8">
							{{input value=model.contributors class="form-control"}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<div class="col-md-3">
							<div class="text-right">
								<label>Password</label>
							</div>
						</div>
						<div class="col-md-8">
							{{input value=model.contributors class="form-control"}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<div class="col-md-5 col-md-offset-5">
							{{input type="checkbox"}}
							<label>Remember me</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-8">
						<button class="btn btn-success">Sign in</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-5 panel panel-default">
		<div class="panel-body">
			<!-- login -->
				<div class="row">
					<div class="col-md-7">
						<h4>Create a free account</h4>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<div class="col-md-3">
							<div class="text-right">
								<label>Full name</label>
							</div>
						</div>
						<div class="col-md-8">
							{{input value=model.contributors class="form-control"}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<div class="col-md-3">
							<div class="text-right">
								<label>Email</label>
							</div>
						</div>
						<div class="col-md-8">
							{{input value=model.contributors class="form-control"}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<div class="col-md-3">
							<div class="text-right">
								<label>Confirm Email</label>
							</div>
						</div>
						<div class="col-md-8">
							{{input value=model.contributors class="form-control"}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<div class="col-md-3">
							<div class="text-right">
								<label>Password</label>
							</div>
						</div>
						<div class="col-md-8">
							{{input value=model.contributors class="form-control"}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<p>By clicking "Create account", you agree to our Terms and that you have read our Privacy Policy, including our information on Cookie Use.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-8">
						<button class="btn btn-success">Create account</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- login through institution -->
		<div class="col-md-5 col-md-offset-5">
			<a href="">
				Login through institution 
				<span class="glyphicon glyphicon-arrow-right"></span>
			</a>
		</div>
	</div>
</div>

{{outlet}}
