

<nav class="navbar navbar-inverse" id="navbarScope" role="navigation">
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><div class="osf-navbar-logo"></div>OSF</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
            <li><a href="/peerdashboard/">My Dashboard</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Explore <span class="caret hidden-xs"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/search/?q=*&filter=registration">Registry</a></li>
                    <li><a href="/meetings/">Meetings</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Help <span class="caret hidden-xs"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/4znZP/wiki/home">About</a></li>
                    <li><a href="/faq/">FAQ</a></li>
                    <li><a href="/getting-started">Getting Started</a></li>
                </ul>
            </li>
            <li>
                <a href="${web_url_for('user_profile')}">
                    <span rel="tooltip" data-placement="bottom" title="Settings" class="fa fa-cog hidden-xs fa-lg"></span>
                    <span class="visible-xs">Settings</span>
                </a>
            </li>
            <li>
                <a href="${web_url_for('auth_logout')}">
                    <span rel="tooltip" data-placement="bottom" title="Log out" class="fa fa-sign-out hidden-xs fa-lg"></span>
                    <span class="visible-xs">Log out</span>
                </a>
            </li>
            <li class="dropdown sign-in" data-bind="with: $root.signIn">
                <div class="btn-group">
                    <button type="button" class="btn btn-info btn-top-login dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Sign in <span class="caret hidden-xs"></span>
                    </button>
                    <ul class="dropdown-menu" id="menuLogin" role="menu">
                        <form class="form" id="signInForm" data-bind="submit: submit" action="${login_url}" method="POST">
                            <div class="form-group"><input id="email" class="form-control" type="email" data-bind="value: username" name="username" placeholder="Email" aria-label="Username"></div>
                            <div class="form-group"><input name="password" id="password" class="form-control" type="password" placeholder="Password" data-bind="value: password" aria-label="Password"></div>
                            <div class="form-group"><button type="submit" id="btnLogin" class="btn btn-block btn-primary">Login</button></div>
                            <div class="text-center m-b-sm"> <a href="/forgotpassword/">Forgot Password?</a></div>
                        </form>
                    </ul>
                </div>
            </li>
            </ul>
    </div><!--/.navbar-collapse -->
</div>
</nav>



<div class="container-fluid big" >


    <div class="row">
        <div class="col-md-12">



            <h3 class="text-center text-primary">
            </h3>
            <div>

            <h1 class="ptitle">
                Peer Review Dashboard
            </h1>


            </div>



            <div class="input-group"> <span class="input-group-addon">Filter</span>

                <input id="filter" type="text" class="filter-control" placeholder="Type here..." {{action 'filterdata'}}>
            </div>

            <div class="btn-group">
                <a id="list" class="btn btn-default btn-sm" {{action 'showlist'}}><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a id="grid" class="btn btn-default btn-sm"{{action 'showgrid'}} ><span
                    class="glyphicon glyphicon-th"></span>Grid</a><a id="tree" class="btn btn-default btn-sm"{{action 'showtree'}} ><span
                    class="glyphicon glyphicon-leaf"></span>Tree</a>
            </div>

            <div class="container">

                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{model.ncomplete}}%" >
                      {{model.ncomplete}}% Completed

                    </div>
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:{{model.napprove}}%" >
                      {{model.napprove}}% Approved
                    </div>
                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:{{model.nsubmit}}%" >
                      {{model.nsubmit}}% Not started
                    </div>

                </div>



            </div>
            {{#if islistview}}
            <table id="submissions" class="table table-hover" >
                <thead>

                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Conference
                    </th>
                    <th>
                        Review Deadline
                    </th>
                    <th>
                        Status
                    </th>
                    <th>

                    </th>
                </tr>
                </thead>
                <tbody class="searchable">
                {{#each model.reviewsdate as |d|}}

                    <tr>
                        <td>
                          {{d.id}}
                        </td>
                        <td>
                          {{d.title}}
                        </td>
                        <td>
                          {{d.conference}}
                        </td>
                        <td>
                          {{d.reviewdeadline}}
                        </td>
                        <td class="st">
                          {{d.status}}
                        </td>

                        <td>
                            <a class="btn btn-primary" {{action 'showform' d.attachment}} >View</a>

                        </td>
                        <td>
                            <a class="btn btn-primary" {{action 'showapprove' d.id}} >Approve</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" {{action 'showassign' d.id}} >Assign</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" {{action 'showdata'}} >Contact Author</a>
                        </td>





                    </tr>
                {{/each}}
                </tbody>
            </table>
            {{/if}}

          {{#if isgridview}}

              <div id="reviews" class="row list-group">
                {{#each model.reviewsdate as |d|}}
                    <div class="searchable2  col-xs-4 col-lg-4">
                        <div class="thumbnail">
                            <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                            <div class="caption">
                                <h4 class="group inner list-group-item-heading">
                                  {{d.title}}</h4>
                                <p class="group inner list-group-item-text">
                                  {{d.conference}}</p>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <p class="lead">
                                          {{d.reviewdeadline}}</p>
                                    </div>
                                    <div class="col-xs-12 col-md-10">
                                        <a class="btn btn-primary" {{action 'showform'}} >View</a>
                                        <a class="btn btn-primary" {{action 'showapprove' d.id}} >Approve</a>
                                        <a class="btn btn-primary" {{action 'showassign' d.id}} >Assign</a>
                                        <a class="btn btn-primary" {{action 'showdata'}} >Contact Author</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}


              </div>
          {{/if}}




          {{#if istreeview}}
             <div id="reviews" class="row list-group">

              <div class="tree" {{action 'treeEvent'}}>
                  <ul>
                      <li>
                          <span><i class="icon-folder-open"></i>Conferences</span>
                          <ul>
                              <li>
                                  <span><i class="icon-minus-sign"></i>ICCS 2016</span>
                                  <ul>
                                      <li>
                                          <span><i class="icon-leaf"></i> Social Network Analysis using Genetic Algorithms</span>
                                          <a class="btn btn-primary" {{action 'showform'}} >View</a>
                                          <a class="btn btn-primary" {{action 'showapprove' d.id}} >Approve</a>
                                          <a class="btn btn-primary" {{action 'showassign' d.id}} >Assign</a>
                                          <a class="btn btn-primary" {{action 'showdata'}} >Contact Author</a>
                                      </li>
                                      <li>
                                          <span><i class="icon-leaf"></i> Reproducible Research for Scientific Computing</span>
                                          <a class="btn btn-primary" {{action 'showform'}} >View</a>
                                          <a class="btn btn-primary" {{action 'showapprove' d.id}} >Approve</a>
                                          <a class="btn btn-primary" {{action 'showassign' d.id}} >Assign</a>
                                          <a class="btn btn-primary" {{action 'showdata'}} >Contact Author</a>
                                      </li>
                                  </ul>
                              </li>
                              <li>
                                  <span><i class="icon-minus-sign"></i> ASONAM 2016</span>
                                  <ul>
                                      <li>
                                          <span><i class="icon-leaf"></i> Analyzing patients records</span>
                                          <a class="btn btn-primary" {{action 'showform'}} >View</a>
                                          <a class="btn btn-primary" {{action 'showapprove' d.id}} >Approve</a>
                                          <a class="btn btn-primary" {{action 'showassign' d.id}} >Assign</a>
                                          <a class="btn btn-primary" {{action 'showdata'}} >Contact Author</a>
                                      </li>
                                  </ul>
                              </li>
                              <li>
                                  <span><i class="icon-minus-sign"></i> ASEE 2015</span>
                                  <ul>
                                      <li>
                                          <span><i class="icon-leaf"></i> Repeatability and Benefaction in Computer Systems Research</span>
                                          <a class="btn btn-primary" {{action 'showform'}} >View</a>
                                          <a class="btn btn-primary" {{action 'showapprove' d.id}} >Approve</a>
                                          <a class="btn btn-primary" {{action 'showassign' d.id}} >Assign</a>
                                          <a class="btn btn-primary" {{action 'showdata'}} >Contact Author</a>
                                      </li>

                                  </ul>
                              </li>

                          </ul>
                      </li>
                      </ul>
              </div>


             </div>
          {{/if}}

        </div>
    </div>


</div>







{{#if isshowingform}}
  {{#modal-dialog close="hideform"
  targetAttachment="center"
  translucentOverlay=true}}
      <form class="form-horizontal">
          <fieldset>

              <!-- Form Name -->
              <legend>Submission Preview</legend>


              <div class = "col-md-4" style="width: 680px">
                  <iframe id="fred" style="border:1px solid #666CCC" title="Submission" src={{filelink}}  scrolling="auto" height="650" width="650" ></iframe>
              </div>


              <!-- Button (Double) -->
              <div class="form-group">
                  <label class="col-md-4 control-label" for="button1id"></label>
                  <div class="col-md-8">
                      <button id="button1id" name="button1id" class="btn btn-success" {{action 'hideform'}}>Close</button>

                  </div>
              </div>

          </fieldset>
      </form>


  {{/modal-dialog}}
{{/if}}





{{#if isshowingassign}}
  {{#modal-dialog close="hideassign"
  targetAttachment="center"
  translucentOverlay=true}}
      <form class="form-horizontal">
          <fieldset>

              <!-- Form Name -->
              <legend>Review Assignment</legend>

              <!-- Select Basic -->
              <div class="form-group">
                  <label class="col-md-4 control-label" for="selectbasic">Assign to</label>
                  <div class="col-md-4">
                      <select id="selectbasic" name="selectbasic" class="form-control" style="width: 170px">
                          <option value="1">Any Available Reviewer</option>
                          <option value="2">Specific Reviewer</option>
                      </select>

                  </div>
              </div>

              <!-- Button (Double) -->
              <div class="form-group">
                  <label class="col-md-4 control-label" for="button1id"></label>
                  <div class="col-md-8">
                      <button id="button1id" name="button1id" class="btn btn-success" {{action 'hideassign' 'ok'}}>Ok</button>
                      <button id="button2id" name="button2id" class="btn btn-danger" {{action 'hideassign' 'cancel'}}>Cancel</button>
                  </div>
              </div>

          </fieldset>
      </form>


  {{/modal-dialog}}
{{/if}}



{{#if isshowingcontact}}
  {{#modal-dialog close="hidedata"
  targetAttachment="center"
  translucentOverlay=true}}
      <form class="form-horizontal" style="width: 1000px">
          <fieldset>

              <!-- Form Name -->
              <legend>Contact Author</legend>

              <!-- Textarea -->
              <div class="form-group" >
                  <label class="col-md-4 control-label" for="textarea">Email Message</label>
                  <div class="col-md-4">
                      <textarea class="form-control" id="textarea" name="textarea" rows="10" style="width: 600px">{{msgtemplate}} </textarea>
                  </div>
              </div>

                           <!-- Button (Double) -->
              <div class="form-group">
                  <label class="col-md-4 control-label" for="button1id"></label>
                  <div class="col-md-8">
                      <button id="button1id" name="button1id" class="btn btn-success" {{action 'hidedata'}}>Send</button>
                      <button id="button2id" name="button2id" class="btn btn-danger" {{action 'hidedata'}}>Cancel</button>
                  </div>
                {{#bs-progress}}
                  {{bs-progress-bar value=progressValue minValue=0 maxValue=10 showLabel=true type="danger"}}
                {{/bs-progress}}
              </div>

          </fieldset>
      </form>
  {{/modal-dialog}}
{{/if}}




{{outlet}}

