<style>
    label {
        font-size: 24px;
        font-weight: 500;
        display: inline-block;
        padding: 0;
    }
    input[type="text"],  textarea {
        margin-bottom: 15px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 0;
        border: none;
    }
    input[type="file"]
    {
        margin-bottom: 15px;
        border-radius: 0;
        border: none;
    }
    .form-control
    {
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 0;
        border: none;
    }
    .col-md-6 {
        height: 100%;
    }
    .sectionHeader {
        font-size: 36px;
        margin-left: 15px;
        font-weight: 300;
    }
    hr{
        margin: 0;
    }
    .fadeBackground
    {
        background-color: rgba(0,0,0,0.1);
        margin-top: 15px;
        padding: 15px;
    }
    .row{

    }
    .resize
    {
        min-height: 80px;
    }
</style>

<div class="container-fluid osfSuperLightBackground">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 col-md-offset-3" style="padding-top: 50px">

                <form>


                    <div class="form-group row fadeBackground">
                        <div class="sectionHeader">IDENTIFY</div>
                        <div class="col-md-6 {{if isValidTitle "has-success" "has-error"}}">
                            <label for="title" class="form-control-label">title</label>

                            {{input value=model.title class="form-control" placeholder="Conference Title" id="title"}}
                            {{#if this.isInvalidTitle}}
                                <br>
                                <div style="color: #ff0000">
                                Please enter a valid title
                                </div>
                            {{/if}}
                            <label for="website" class="form-control-label">website</label>
                            {{input value=model.website class="form-control" placeholder="Conference Website" id="website"}}

                            <label for="city" class="form-control-label">logo</label>
                            {{input type="file" accept="image/*" id="image"}}

                            <label for="description" class="form-control-label">
                                description:</label>
                            {{textarea value=model.description class="form-control resize" id="description"style="height: 100%"}}
                            {{#if this.isInvalidDescription}}
                                <br>
                                <div style="color: #ff0000">Please enter a valid description</div>
                            {{/if}}
                        </div>
                    </div>


                    <div class="form-group row fadeBackground">
                        <div class="sectionHeader">LOCATE</div>
                        <div class="col-md-6">
                            <div class ="{{if isValidCountry "has-success" "has-error"}}">
                                <label for="country" class="form-control-label">
                                    country
                                </label>
                                <select class="form-control" onchange={{action (mut model.country) value="target.value"}}>
                                    {{#each countries as |countryChoice|}}
                                        <option value={{countryChoice}} selected={{eq model.country countryChoice}}>
                                            {{countryChoice}}
                                        </option>
                                    {{/each}}
                                </select>
                            </div>

                            {{#if this.isInvalidCountry}}
                                <br>
                                <div style="color: #ff0000">Please select a country</div>
                            {{/if}}
                            <div class="{{if isValidCity "has-success" "has-error"}}">
                                <label for="city" class=" form-control-label">city</label>
                                {{input value=model.city class="form-control" id="city" placeholder="City"}}
                                {{#if this.isInvalidCity}}
                                    <br>
                                    <div style="color: #ff0000">Please enter a valid city</div>
                                {{/if}}
                            </div>

                            <div class="{{if isAmerica (if isValidState "has-success" "has-error")}}">
                                <label for="city" class="form-control-label">
                                    {{#if this.isAmerica}}
                                {{/if}} state</label>
                                {{input value=model.state class="form-control" id="state" placeholder="State"}}
                                {{#if this.isInvalidState}}
                                    <br>
                                    <div style="color: #ff0000">Please enter a valid state</div>
                                {{/if}}

                            </div>
                        </div>

                    </div>
                    <div class="form-group row fadeBackground">
                        <div class="sectionHeader">CONFERENCE WINDOW</div>

                        <div class="col-md-6">
                            <label for="city" class="form-control-label">start</label>
                            {{date-picker date=model.startDate class="form-control" valueFormat='date' id='startDate'}}
                            {{#if this.isInvalidDates}}
                                <br>
                                <div style="color: #ff0000">Start date must be before end date</div>
                            {{/if}}
                        </div>
                        <div class="col-md-6">
                            <label for="city" class="form-control-label">end</label>
                            {{date-picker date=model.endDate class="form-control" valueFormat='date' id='endDate'}}
                        </div>
                    </div>

                    <div class="form-group row fadeBackground">
                        <div class="sectionHeader">SUBMISSION WINDOW</div>
                        <div class="col-md-6">
                            <label for="city" class="form-control-label">start</label>
                            {{date-picker date=model.submissionDate class="form-control" valueFormat='date' id='submissionDate'}}
                            {{#if this.isInvalidSubmissionDates}}
                                <br>
                                <div style="color: #ff0000">Submission start date must be before end date</div>
                            {{/if}}
                        </div>
                        <div class="col-md-6">
                            <label for="city" class="form-control-label">end</label>
                            {{date-picker date=model.closeDate class="form-control" valueFormat='date' id='closeDate'}}
                        </div>
                    </div>
                    <div class="form-group row fadeBackground">
                        <div class="sectionHeader">EXPAND</div>
                        <div class="col-md-6">
                            <label for="city" class="form-control-label">sponsors</label>
                            {{input value=model.sponsors class="form-control" id="sponsors" placeholder="sponsor 1, sponsor 2, sponsor 3, ..."}}
                        </div>
                        <div class="col-md-6">
                            <label for="tags" class="form-control-label">tags</label>
                            {{input value=model.tags class="form-control" id="tags" placeholder="tag 1, tag 2, tag 3, ..."}}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2 ">
                            <button class="form-control btn btn-success" {{action "create" model}}>Submit</button>
                        </div>
                        <div class="col-md-2">
                            <button class="form-control" {{action "preview"}}>Preview</button>
                        </div>
                        <div class="col-md-2 ">
                            <button class="form-control btn btn-danger" {{action "back" model}}>Cancel</button>
                            {{#if this.previewOn}}
                                {{#modal-dialog close="hideform" targetAttachment="center" translucentOverlay=true}}
                                    <div class="row" style="padding: 20px">
                                        <div class="col-md-12">
                                            <div class="row" style=>
                                                <div class="conferenceTopContainer col-md-12">
                                                    <div class="col-md-8 col-md-offset-2" style="height: 100%;">
                                                        <div class="conferenceInfo">
                                                            <h1> {{model.title}}</h1>
                                                            <h4> {{model.startDate}} - {{model.endDate}} </h4>
                                                            <h4>{{model.city}}, {{model.state}}, {{model.country}} </h4>
                                                            <div class="logos"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-offset-2 conferencePhoto">
                                                        {{!--TODO: THIS WILL PROBABLY REQUIRE EDITING ONCE FILE UPLOAD IS WORKING CORREFTLY--}}
                                                        <img src={{model.logo}}>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="conferenceDescriptionContainer col-lg-12">
                                                    <div class="col-lg-8 col-lg-offset-2">
                                                        <p class="conferenceDescription">{{model.conference.description}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="form-control btn btn-danger" {{action "previewOff"}}>Close
                                        </button>
                                        <button class="form-control btn btn-success" {{action "create" model}}>Submit
                                        </button>
                                    </div>
                                {{/modal-dialog}}
                            {{/if}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

