<div class="container-fluid">
 <div class="row">
    <div class="col-md-8 col-md-offset-2" style="text-align: center">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 registration-title">
          {{#if this.isRenaming}}
            {{input action="saveName" value=meetingTitle}}
          {{else}}
            <h2>{{this.meetingTitle}}</h2>
          {{/if}}
        </div>
        <div class="col-md-1" style="height: 100%">
          {{#if this.isRenaming}}
            <button {{action "saveName"}}>Save</button>
          {{else}}
            <button {{action "rename"}}>Rename</button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2" style="text-align: center">
      <form class="form-inline">
        <div class="form-group" style="padding: 3.5%; border-style: double">
          <div class ="row">
            <div class="col-md-3">
              Meeting website (optional):
            </div>
            <div class="col-md-2">
              <input type="text"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              City:
            </div>
            <div class="col-md-2">
              <input type="text">
            </div>
            <div class="col-md-offset-1 col-md-2">
              <select>
                  <option value="-Select a state-">-Select a state</option>
                  <option value="Virginia">Virginia</option>
                  <option value="New York">New York</option>
                  <option value="Maine">Maine</option>
              </select>
            </div>
            <div class="col-md-offset-1 col-md-2">
              <select>
                  <option value="-Select a country-">-Select a country-</option>
                  <option value="United States">United States</option>
                  <option value="Japan">Japan</option>
                  <option value="Sri Lanka">Sri Lanka</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              Meeting start date:
            </div>
            <div class="col-md-3">
              <input type="text"/>
            </div>
            <div class="col-md-3">
              Meeting end date:
            </div>
            <div class="col-md-2">
              <input type="text"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              Submission start date:
            </div>
            <div class="col-md-3">
              <input type="text"/>
            </div>
            <div class="col-md-3">
              Close date:
            </div>
            <div class="col-md-2">
              <input type="text"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              Logo for meeting landing page (optional):
            </div>
            <div class="col-md-1 col-md-offset-1">
                <input type="file" accept="image/*">
            </div>
              <!--TODO: Preview image button -->
          </div>
          <div class="row">
            <div class="col-md-3">
              Select a few tags (optional):
            </div>
            <div class="col-md-2">
              <input type="text"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              Meeting Description (optional):
              <br>
              <textarea rows="8%" cols="95%"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-8">
              <button {{action "preview"}}>Preview</button>
            </div>
            <div class="col-md-2">
              <button {{action "request"}}>Request</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
