<div class="container-fluid osf-light-background">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form>
                    <h4>Create a New Conference </h4>
                    <div class="form-group row fade-background">
                        <div class="section-header">IDENTIFY</div>
                        <hr>
                        <div class="col-lg-6 {{if isValidTitle "has-success" "has-error"}}">
                            <label for="title" class="form-control-label">Title</label>

                            {{input value=model.title class="form-control form-spacing" placeholder="Conference Title" id="title"}}
                            {{#if this.isInvalidTitle}}
                                <br>
                                <div class="warning">
                                Please enter a valid title
                                </div>
                            {{/if}}
                            <label for="website" class="form-control-label">Website</label>
                            {{input value=model.website class="form-control form-spacing" placeholder="Conference Website" id="website"}}

                            <label for="city" class="form-control-label">Logo</label>
                            {{input type="file" accept="image/*" id="image"}}

                            <label for="description" class="form-control-label">
                                Description:</label>
                        </div>
                      <div class="col-md-12">
                        {{textarea value=model.description class="form-control resize" id="description"}}
                        {{#if this.isInvalidDescription}}
                            <br>
                            <div class="warning">Please enter a valid description</div>
                        {{/if}}
                      </div>
                    </div>


                    <div class="form-group row fade-background">
                        <div class="section-header">LOCATE</div>
                        <hr>
                        <div class="col-lg-6">
                            <div class ="{{if isValidCountry "has-success" "has-error"}}">
                                <label for="country" class="form-control-label">
                                    Country
                                </label>
                                <select class="form-control form-spacing" onchange={{action (mut model.country) value="target.value"}}>
                                    {{#each countries as |countryChoice|}}
                                        <option value={{countryChoice}} selected={{eq model.country countryChoice}}>
                                            {{countryChoice}}
                                        </option>
                                    {{/each}}
                                </select>
                                {{#if this.isInvalidCountry}}
                                    <br>
                                    <div class="warning">Please select a country</div>
                                {{/if}}
                            </div>

                            <div class="{{if isAmerica (if isValidState "has-success" "has-error")}}">
                                <label for="city" class="form-control-label">
                                    {{#if this.isAmerica}}
                                    {{/if}} State</label>
                                {{input value=model.state class="form-control form-spacing" id="state" placeholder="State"}}
                                {{#if this.isInvalidState}}
                                    <br>
                                    <div class="warning">Please enter a valid state</div>
                                {{/if}}
                            </div>
                            <div class="{{if isValidCity "has-success" "has-error"}}">
                                <label for="city" class=" form-control-label">City</label>
                                {{input value=model.city class="form-control form-spacing" id="city" placeholder="City"}}
                                {{#if this.isInvalidCity}}
                                    <br>
                                    <div class="warning">Please enter a valid city</div>
                                {{/if}}
                            </div>


                        </div>

                    </div>
                    <div class="form-group row fade-background">
                        <div class="section-header">CONFERENCE WINDOW</div>
                        <hr>
                        <div class="col-lg-6">
                            <label for="city" class="form-control-label">Start</label>
                            {{date-picker date=model.startDate class="form-control form-spacing" valueFormat='date' id='startDate'}}
                            {{#if this.isInvalidDates}}
                                <br>
                                <div class="warning">Start date must be before end date</div>
                            {{/if}}
                        </div>
                        <div class="col-md-6">
                            <label for="city" class="form-control-label">End</label>
                            {{date-picker date=model.endDate class="form-control form-spacing" valueFormat='date' id='endDate'}}
                        </div>
                    </div>

                    <div class="form-group row fade-background">
                        <div class="section-header">SUBMISSION WINDOW</div>
                        <hr>
                        <div class="col-md-6">
                            <label for="city" class="form-control-label">Start</label>
                            {{date-picker date=model.submissionDate class="form-control form-spacing" valueFormat='date' id='submissionDate'}}
                            {{#if this.isInvalidSubmissionDates}}
                                <br>
                                <div class="warning">Submission start date must be before end date</div>
                            {{/if}}
                        </div>
                        <div class="col-lg-6">
                            <label for="city" class="form-control-label">End</label>
                            {{date-picker date=model.closeDate class="form-control form-spacing" valueFormat='date' id='closeDate'}}
                        </div>
                    </div>
                    <div class="form-group row fade-background">
                        <div class="section-header">EXPAND</div>
                        <hr>
                        <div class="col-lg-6">
                            <label for="city" class="form-control-label">Sponsors</label>
                            {{input value=model.sponsors class="form-control form-spacing" id="sponsors" placeholder="sponsor 1, sponsor 2, sponsor 3, ..."}}
                        </div>
                        <div class="col-lg-6">
                            <label for="tags" class="form-control-label">Tags</label>
                            {{input value=model.tags class="form-control form-spacing" id="tags" placeholder="tag 1, tag 2, tag 3, ..."}}
                        </div>
                    </div>

                    <div class="form-group row fade-background" >
                        <div class="col-md-4">
                            <button class="btn btn-danger" {{action "back" model}}>Cancel</button>
                            <button class="btn btn-success" {{action "create" model}}>Create</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary" {{action "preview"}}>Preview</button>
                            {{#if this.previewOn}}
                                {{#modal-dialog close="hideform" targetAttachment="center" translucentOverlay=true}}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="conferenceTopContainer col-md-12">
                                                    <div class="col-md-8 col-md-offset-2">
                                                        <div class="conferenceInfo">
                                                            <h1> {{model.title}}</h1>
                                                            <h4> {{model.startDate}} - {{model.endDate}} </h4>
                                                            <h4>{{model.city}}, {{model.state}}, {{model.country}} </h4>
                                                            <div class="logos"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-offset-2 conferencePhoto">
                                                        {{!--TODO: THIS WILL PROBABLY REQUIRE EDITING ONCE FILE UPLOAD IS WORKING CORREFTLY--}}
                                                        <img src={{model.logo}}>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-8 col-lg-offset-2">
                                                        <p class="conference-description">{{model.conference.description}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        <button class="btn btn-danger" {{action "previewOff"}}>Close
                                        </button>
                                        <button class="btn btn-success" {{action "create" model}}>Submit
                                        </button>
                                        </div>
                                    </div>
                                {{/modal-dialog}}
                            {{/if}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

