{{#if this.access}}
<style>
    label
    {
        font-size: 48px;
    }
    .col-md-6
    {
        height: 100%;
    }
</style>

<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-10 col-md-offset-1" style="padding-top: 50px">

            <form>
                <div class="row" style="margin-bottom: 25px">
                    <div class="col-sm-8">
                        <h2>Register New Meeting</h2>
                    </div>
                </div>
                 <div class="form-group row ">
                     <div class="col-md-6 {{if isValidTitle "has-success" "has-error"}}">
                    <label for="title col-md-6" class="form-control-label"><font style="color: #ff0000">*</font> Conference Title:</label>
                      {{input value=model.title class="form-control" placeholder="title" id="title"}}
                      {{#if this.isInvalidTitle}}
                        <br> <font style="color: #ff0000">Please enter a valid title</font>
                      {{/if}}
                    </div>
                     <div class="col-md-6">
                         <label for="website" class="form-control-label">Conference Website:</label>
                       {{input value=model.website class="form-control" placeholder="Conference Website" id="website"}}
                     </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6 {{if isValidCity "has-success" "has-error"}}">
                        <label for="city" class="col-sm-7 form-control-label"><font style="color: #ff0000">*</font> City:</label>
                      {{input value=model.city class="form-control" id="city" placeholder="City"}}
                      {{#if this.isInvalidCity}}
                          <br> <font style="color: #ff0000">Please enter a valid city</font>
                      {{/if}}
                    </div>
                    <div class="col-md-6 {{if isValidState "has-success" "has-error"}}">
                        <label for="city" class="col-sm-7 form-control-label"><font style="color: #ff0000">*</font> State:</label>
                      {{input value=model.state class="form-control" id="state" placeholder="State"}}
                      {{#if this.isInvalidState}}
                          <br> <font style="color: #ff0000">Please enter a valid state</font>
                      {{/if}}
                    </div>
                </div>
                <div class="form-group row ">
                    <div class="col-md-6 {{if isValidCountry "has-success" "has-error"}}">
                        <label for="city" class="col-sm-7 form-control-label"><font style="color: #ff0000">*</font> Country:</label>
                      {{input value=model.country class="form-control" id="country" placeholder="Country"}}
                      {{#if this.isInvalidCountry}}
                          <br> <font style="color: #ff0000">Please enter a valid country</font>
                      {{/if}}
                    </div>
                    <div class="col-md-6">
                        <label for="city" class="form-control-label">Conference Logo:</label>
                      {{input class="form-control" type="file" accept="image/*" id="image" }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                    <label for="city" class="form-control-label">Start Date:</label>
                      {{date-picker date=model.startDate class="form-control" valueFormat='date'}}
                    </div>
                    <div class="col-md-6">
                    <label for="city" class="form-control-label">End Date:</label>
                      {{date-picker date=model.endDate class="form-control" valueFormat='date'}}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                    <label for="city" class="form-control-label">Submission Start Date:</label>
                      {{date-picker date=model.submissionDate class="form-control" valueFormat='date'}}
                    </div>
                    <div class="col-md-6">
                    <label for="city" class="form-control-label">Submission End Date:</label>
                      {{date-picker date=model.closeDate class="form-control" valueFormat='date'}}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                    <label for="city" class="form-control-label">Sponsors:</label>
                  {{input value=model.sponsors class="form-control" id="sponsors" placeholder="sponsor 1, sponsor 2, sponsor 3, ..."}}
                </div>
                    <div class="col-md-6">
                        <label for="tags" class="form-control-label">Tags:</label>
                      {{input value=model.tags class="form-control" id="tags" placeholder="tag 1, tag 2, tag 3, ..."}}
                    </div>
                </div>

                <div class="form-group row {{if isValidDescription "has-success" "has-error"}}">
                    <div class="col-sm-8" style="height: 100%">
                    <label for="description" class="form-control-label"><font style="color: #ff0000">*</font> Conference Description:</label>
                      </div>
                  <div class="col-sm-8">
                      {{textarea value=model.description class="form-control" id="description"style="height: 100%"}}
                      {{#if this.isInvalidDescription}}
                        <br> <font style="color: #ff0000">Please enter a valid description</font>
                      {{/if}}
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <h2><font style="color: #ff0000">*</font> denotes required field</h2>
                  </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2 ">
                        <button class="form-control btn btn-success" {{action "create" model}}>Submit</button>
                    </div>
                    <div class="col-md-2 ">
                        <button class="form-control btn btn-danger" {{action "back" model}}>Cancel</button>
                    </div>
            </div>
            </form>
            </div>
        </div>
    </div>
</div>
{{else}}
  <meta http-equiv="refresh" content="0; URL='./'" />
{{/if}}

