<div class="container-fluid">
<div class="row">
    <div class="col-md-12">

        <h3 class="text-center text-primary">
        </h3>
        <h2>
            Assigned Reviews
        </h2>

        <div class="input-group"> <span class="input-group-addon">Filter</span>

            <input id="filter" type="text" class="form-control" placeholder="Type here..." {{action 'filterdata'}}>

        </div>


        <div class="btn-group">
            <a id="list" class="btn btn-default btn-sm" {{action 'showlist'}}><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a id="grid" class="btn btn-default btn-sm"{{action 'showgrid'}} ><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
       {{#if islistview}}
        <table class="table table-hover table-striped">
            <thead>

            <tr>
                <th>
                    #
                </th>
                <th>
                    Title
                </th>
                <th>
                    Conference
                </th>
                <th>
                    Review Deadline
                </th>
                <th>
                    Status
                </th>
                <th>

                </th>
            </tr>
            </thead>
            <tbody class="searchable">

            {{#each model.reviewsdate as |d|}}

                <tr {{action 'dateColor' d.reviewdeadline}}>
                    <td>
                      {{d.id}}
                    </td>
                    <td>
                      {{d.title}}
                    </td>
                    <td>
                      {{d.conference}}
                    </td>
                    <td>
                      {{d.reviewdeadline}}
                    </td>
                    <td>
                      {{d.status}}
                    </td>

                    <td>


                        <a class="btn btn-primary" {{action 'openreview'}} >View</a>
                    </td>

                </tr>
            {{/each}}
            </tbody>
        </table>
        {{/if}}

      {{#if isgridview}}

              <div id="reviews" class="row list-group">
                {{#each model.reviewsdate as |d|}}
                    <div class="searchable2  col-xs-4 col-lg-4">
                        <div class="thumbnail">
                            <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                            <div class="caption">
                                <h4 class="group inner list-group-item-heading">
                                  {{d.title}}</h4>
                                <p class="group inner list-group-item-text">
                                  {{d.conference}}</p>
                                <div class="row">
                                    <div class="col-xs-12 col-md-10">
                                        <p class="lead">
                                          {{d.reviewdeadline}}</p>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <a class="btn btn-primary" {{action 'openreview'}} >View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}


              </div>
      {{/if}}
    </div>
</div>


</div>


{{outlet}}
